.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  max-width: 600px;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 24px 24px 24px 24px;
  -webkit-box-shadow: 3px 8px 24px rgba(149, 157, 168, 0.2);
  box-shadow: 3px 8px 24px rgba(149, 157, 168, 0.2);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
}
.item:hover {
  transform: scale(1.04) !important;
}

.item img {
  width: 100%;
  max-height: 400px;
  border-radius: 24px 24px 0px 0px;
}

.item .item-text-container {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.item .item-title-container {
  display: flex;
  align-items: center;
}
.item .item-preamble {
  font-size: 1.1rem;
  font-weight: 100;
  padding-bottom: 12px;
}
.item .item-text {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.item .item-title-container a {
  padding-left: 0.5rem;
}

.item .item-title-container a img {
  all: unset;
  width: 1.5rem;
  margin-bottom: -5px;
}

.item .tags {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.item .tags p {
  font-size: 0.8rem;
  border: 2px solid rgb(146, 148, 151);
  background-color: rgb(212, 214, 219);
  text-align: center;
  align-items: center;
  border-radius: 10px;
  color: rgb(85, 85, 85);
  padding: 3px 6px;
  margin: 0.2rem;
  transition: border 500ms ease-out;
}

.item .show-more-btn {
  font-weight: 900;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 2px;
  border: none;
}

.item .show-more-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .item {
    justify-content: space-around;
  }
}
