* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}
a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
}
